<% unless user_signed_in? %>
  <div class="container">
    <div class="home-no-user">
      <div class="row home-text">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras quis justo eget quam pellentesque elementum.
          </h2>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <%= link_to 'Войти', new_user_session_path, class: "home-buttons" %>
        <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "home-buttons" %>
      </div>
    </div>
  </div>
<% else %>
    <div class="home-current-user">

    </div>
<% end %>