<div class="col-md-3" style="position: fixed;">
  <div class="row options">
    <div class="links">
      <%= link_to chats_path(@room) do %>
        <div class="link-room-background">
          <div class="link-room" id="link1">Chat</div>
        </div>
      <% end %>
      <%= link_to '#' do %>
        <div class="link-room-background">
          <div class="link-room" id="link2">Files</div>
        </div>
      <% end %>
      <%= link_to room_tasks_path(@room) do %>
        <div class="link-room-background">
          <div class="link-room" id="link3">To-Do list</div>
        </div><br/>
      <% end %>
    </div>
    <button class="invite-friends btn btn-warning">Invite Your Friends:</button>
    <ul class="invite-friends">
      <% @friends.each do |friend| %>
          <li><%= link_to friend.email, controller: 'rooms', action: 'invite_friends',
                          id: @room, user_id: friend unless (friend.rooms.include?(@room)) %></li>
      <% end %>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('ul.invite-friends').hide();
    $('button.invite-friends').click(function(){
      $('ul.invite-friends').slideToggle();
    });
  });
</script>