<div class="col-md-3">
  <%= render 'rooms/header' %>
</div>

<div class="col-md-6">
  <div class="top-header">Edit Room</div>
  <div class="room-form">
    <%= form_for @room do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>