/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";
@import "rooms";
@import "chats";
@import "tasks";
@import "users";

@keyframes blabla {
  80% {
    background-color: #ffffff;
  }
  100% {
    background-position: -320px 0;
    background-color: #fb8834;
  }
}

.row {
  margin-right: 0px;
  margin-left: -20px;
}

.content {
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 30px;
}

.menu {
  min-width: 100%;
  position: relative;
  border-right: 1px #c9722a solid;
  a {
    color: #fff;
  }

  a:hover {
    color: #cfd9e9;
  }
}

#header1 {
  font-size: 30px;
  padding-left: 30px;
  padding-top: 20px;
  height: 150px;
  background-color: rgba(250, 105, 0, 0.80);
  border-bottom: 3px #954829 solid;
}

#header2 {
  z-index: -10000;
  height: 510px;
  background-color: rgba(250, 105, 0, 0.75);
}

.all-rooms {
  min-width: 100%;
  height: 70px;
  font-size: 20px;
  border-bottom: 1px white solid;
  p {
    padding: 20px;
  }
}

.all-rooms:hover {
  background-color: rgba(250, 105, 0, 0.45);
}

.top-header {
  font-size: 28px;
  color: #df0012;
  position: fixed;
  min-width: 100%;
  background-color: #fb8834;
  height: 40px;
  padding-left: 70px;
}

.options {
  min-width: 100%;
  min-height: 650px;
  position: relative;
  .links {
    .link-room-background {
      border: 1px rgba(255, 139, 53, 0.50) solid;
      overflow: hidden;
    }
    .link-room {
      position: relative;
      padding: 10px;
      text-align: left;
      background-size: 200% 100%;
      background-image: linear-gradient(to right, #fff 50%, #fb8834 50%);
      transition: background-position 450ms;

    }
    .link-room:hover {
      background-position: 100% 0;
    }
    a {
      font-size: 24px;
      color: #000;
      transition: color 400ms 50ms;
    }

    a:hover {
      color: #fff;
    }
  }
  padding-left: 30px;
  padding-top: 40px;
}

#avatar {
  position: absolute;
  background-color: #fff;
  border-radius: 100px;
  height: 75px;
  width: 75px;
  border: 3px #954829 solid;
  img {
    border-radius: 50%;
  }
}