// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-body {
  background-color: rgba(255, 170, 50, 0.2);
  word-wrap: break-word;
  border-radius: 25px;
  padding: 5px 15px;
  max-width: 80%;
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 1px rgba(255, 139, 53, 0.50) solid;
  .attr {
    font-size: 16px;
  }
}

.current-user {
  text-align: right;
}

.messages {
  margin-bottom: 30%;
}

.message-form {
  background-color: white;
  position: fixed;
  border-top: 1px #954829 solid;
  min-width: 44%;
  min-height: 10%;
  bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}